<%- include('header') %>
<h1>Profile</h1>

<div>
    <p><%= user.name %></p>
    <p><%= user.username %></p>
    <p><%= user.phone %></p>
    <p><%= user.email %></p>
    <p><%= user.address %></p>
</div>

<%- include('summary', {accounts: accounts.savings}) %>
<%- include('summary', {accounts: accounts.checking}) %>
<%- include('summary', {accounts: accounts.credit}) %>

<br><a href="/">Back to Account Summary</a>


<%- include('footer') %>